<div class="alertsAlign">Alerts!!!</div>
<table class="table">
    <thead>
      <tr>
        <th>S_NO</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Billing</td>
        <td>Pending Bill</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Weather</td>
        <td>Expecting Dry Weather</td>
      </tr>
      <tr>
        <td>3</td>
        <td>UFE Event</td>
        <td>Birthday coming up.</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Claim</td>
        <td>Check has been issued.</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Prospects</td>
        <td>This costumer has a policy with another company.</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Contact Alert</td>
        <td>In the last 30 days, 13 contacts.</td>
      </tr>
    </tbody>
  </table>
<div class="col-xs-9 outline"> </div>
