<table class="table table-sm table-inverse table-bordered">
    <thead>
      <tr class="billTableHeading" >
        <th>Bill Acct No</th>
        <th>Policy No</th>
        <th>Tot Prm Amt</th>
        <th>Bal Amt</th>
        <th>Next Due Date</th>
        <th>Last Paid Dt</th>
        <th>Bill Status Code</th>
        <th>Billing Name</th>
        <th>Billing Addr</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>9878565747</td>
        <td>9181725747</td>
        <td>$500</td>
        <td>$500</td>
        <td>23/12/2016</td>
        <td>07/06/2016</td>
        <td>Active</td>
        <td>Phil Smith</td>
        <td>123, john ave, Hartford, CT</td>
      </tr>
        <tr>
          <td>9867345747</td>
          <td>8181725123</td>
          <td>$600</td>
          <td>$400</td>
          <td>12/12/2016</td>
          <td>17/06/2016</td>
          <td>InActive</td>
          <td>Joe Smith</td>
          <td>321, Abe ave, Hartford, CT</td>
        </tr>
        <tr>
          <td>9856723747</td>
          <td>5184565123</td>
          <td>$350</td>
          <td>$280</td>
          <td>08/12/2017</td>
          <td>05/06/2015</td>
          <td>Active</td>
          <td>Prafull Joshi</td>
          <td>1, sqr plaza, Hartford, CT</td>
        </tr>
        <!--tr>
          <td>9832623747</td>
          <td>8564565123</td>
          <td>$950</td>
          <td>$680</td>
          <td>08/06/2017</td>
          <td>15/06/2015</td>
          <td>Active</td>
          <td>Abhishek</td>
          <td>999, windser plaza, Windser, CT</td>
        </tr-->
    </tbody>
  </table>
