<div class="tableHeading">Customer Contact/Other Information</div>
<div class="col-xs-5">MYTID</div> <div class="col-xs-7"><i class="fa fa-minus" aria-hidden="true"></i> jpalenka@travellers.com</div>
<div class="col-xs-5">SPERS_STR_ADR</div> <div class="col-xs-7"><i class="fa fa-minus" aria-hidden="true"></i> PO BOX 429</div>
<div class="col-xs-5">SPERS_CTY</div> <div class="col-xs-7"><i class="fa fa-minus" aria-hidden="true"></i> WALLA WALLA</div>
<div class="col-xs-5">SPERS_ST_CD</div> <div class="col-xs-7"><i class="fa fa-minus" aria-hidden="true"></i> WA</div>
<div class="col-xs-5">cell_phone</div> <div class="col-xs-7"><i class="fa fa-minus" aria-hidden="true"></i> null</div>
<div class="col-xs-5">email_ddr</div> <div class="col-xs-7"><i class="fa fa-minus" aria-hidden="true"></i> null</div>
