<div class="tableHeading"> Family Details</div>
<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>DOB</th>
        <th>No. of policies</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>10/6/1962</td>
        <td>8</td>
      </tr>
      <tr>
        <td>John Smith</td>
        <td>23/12/23</td>
        <td>2</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Total</th>
        <th></th>
        <th>10</th>
      </tr>
    </thead>
  </table>
<cust-contact-widget></cust-contact-widget>
