.col-centered {
  float: none;
  margin: 0 auto;
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-12 { margin-top: 12px; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

.margin-all-05 { margin-top: 0.5em; margin-left: 0.5em; margin-right: 0.5em; margin-bottom: 0.5em; }

.outline {
    outline: 1px solid #800000;
}

.button {
    background-color: #800000; /* Red */
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}

.alertsAlign {
  text-align: center;
  color: #800000; /* Red */
  font-size: 18px;
}

.tableHeading {
  background-color: #800000;
  color: white; /* Red */
  font-size: 15px;
}
.billTableHeading {
  background-color: #800000;
  color: white; /* Red */
  text-align: center;
  font-size: 12px;
}
