<div class="row outline">
<div class="col-xs-2"><img ng-src="/images/TravelersLogo.png"></div>
  <div class="col-xs-2"><h2>Customer 360</h2></div>
  <div class="col-xs-4">
    <div class="form-group row">
        <input style="margin-top:17px;" class="form-control" type="text" placeholder="Search Name/Cell No./Policy #/Claim Number/VIN" />
    </div>

  </div>
  <div class="col-xs-4">
    <div class="btn-group-horizontal pull-left margin-top-12">
      <button type="button" class="button">
        Customer Label
      </button>
      <button type="button" class="button">
        Back
      </button>
      <button type="button" class="button">
        Clear
      </button>
      <button type="button" class="button">
        Forward
      </button>
    </div>
  </div>
</div>
<!--Level 2 -->
<div class="row">
<div class="col-xs-3 outline">
  <user-detail-widget></user-detail-widget>
</div>
<div class="col-xs-5 outline">
  <br /><br /><br /><br /><br /><br />
</div>
<div class="col-xs-4 outline">
  <br /><br /><br /><br /><br /><br />
</div>
</div>
<!--Level 3 -->
<div class="row">
<div class="col-xs-3 outline" style="padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;">
  <fam-detail-widget></fam-detail-widget>
</div>
<div class="col-xs-5 outline"  style="padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;">
  <alert-widget></alert-widget>
</div>
<div class="col-xs-4 outline"  style="padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    text-align: center;">
  <div class="tableHeading">Costumer Feedback & Satisfaction Index</div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<div class="container-fluid col-md-9 outline" style="padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    text-align: center;">
  <bill-detail-widget></bill-detail-widget>
</div>

</div>
<!--Level 4-->
<!--div class="col-xs-5 outline"  style="padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;">
  <bill-detail-widget></bill-detail-widget>
</div -->
